* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(225, 225, 225);
  color: rgb(20, 20, 20);
  line-height: 1.5;
}

header {
  width: 100svw;
  text-align: center;
  border-bottom: 2px solid rgb(20, 20, 20);
  padding: 20px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
}
